
.sudoku-title {
    margin-bottom: 2rem;
    font-family: BlackBoard, Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-family: 'Sen', sans-serif;
    text-shadow: 0 0 20px yellow;
}

.sudoku {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100vw;
    border: 2px solid white;
    background-color: rgb(19,16,99);
    box-shadow: 0 0 40px  darkgoldenrod;
    border-radius: 5%;
    padding: 2rem;
    margin-bottom: 3vh;
}

.s-cell {
    max-width: 9vw;
    max-height: 9vw;
    display: flex;
    border: 2px solid goldenrod;
    height: 75px;
    width: 75px;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: white;
    font-family: 'Sen', sans-serif;
}

.selected-cell {
    background-color: darkgoldenrod;
}

.TL,.TR, .CC, .BL, .BR {
    background-color: seagreen;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.CL,.CR, .TC, .BC {
    background-color: darkcyan;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.s-button {
    position: absolute;
    text-align: center;
    padding: 1rem;
    font-size: 4rem;
    font-family: 'Sen', sans-serif;
    border-radius: 5%;
    margin-left: 15.5rem;
    margin-top: 17rem;
    border: 4px rgb(19,16,99) solid;
    box-shadow: 0 0 30px rgb(19,16,99);
    text-shadow: 0 0 2px white;
    background-color: rgb(95,221,142);
}

#easy {

    margin-top: 7rem;
    
}

#hard {

    margin-top: 27rem;
    margin-left: 15.2rem;
    
}

#medium {

    margin-left: 12.4rem;
}

.num-selector {

    border: 2px solid white;
    background-color: rgb(19,16,99);
    box-shadow: 0 0 40px  darkgoldenrod;
    border-radius: 1%;
    padding: 1.1rem;
    margin-bottom: 6vh;

}

.num-button {
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
    font-family: 'Sen', sans-serif;
    border-radius: 15%;
    border: 4px goldenrod solid;
    box-shadow: 0 0 30px rgb(19,16,99);
    text-shadow: 0 0 2px white;
    background-color: rgb(95,221,142);
    margin-left: 0.6rem;
}

.num-button:first-of-type{
    margin-left: 0;
}

.wrong {
    background-color: red;
}

.win-screen {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    text-align: center;
    padding: 3rem;
    font-size: 3.5rem;
    font-family: 'Sen', sans-serif;
    border-radius: 15%;
    border: 4px goldenrod solid;
    box-shadow: 0 0 30px rgb(19,16,99);
    text-shadow: 0 0 2px white;
    background-color: rgb(95,221,142, 80%);
    margin-left: 3.7rem;
    margin-top: 12rem;
}

.play-again {

    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 3rem;
    font-family: 'Sen', sans-serif;
    border-radius: 15%;
    border: 4px goldenrod solid;
    box-shadow: 0 0 30px rgbrgb(95,221,142);
    text-shadow: 0 0 2px white;
    background-color: rgb(19,16,99, 70%);

}